<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.6.0" data-semver="1.6.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
    <script src="Vendor/easyTimer/easytimer.min.js"></script>
    <script src="Vendor/ngDialog/js/ngDialog.min.js"></script>
    <link rel="stylesheet" href="Vendor/easyTimer/examples.min.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="Vendor/ngDialog/css/ngDialog.min.css" />
    <link rel="stylesheet" href="Vendor/ngDialog/css/ngDialog-theme-default.min.css" />
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="myCtrl">

    <div class="row">

      <!-- HeadLine -->
      <div class="col-sm-6 font-cursive">
          <div class="float-right">
            <h2 class="text-primary">Addition 2.0
                <br>
                <div class="text-center"><small>@RapidMaths</small> </div>
            </h2>
          </div>
      </div>

      <!-- Timer text and buttons  -->
      <div id="stopWatch" class="col-sm-5 panel">
            <div class="float-right panel-body">
                <div class="values text-center text-muted"><h4>00:00:00</h4></div>
                <div>
                    <button ng-disabled="isStartButtonDisabled" class="startButton btn btn-success btn-sm" ng-click="onStartButtonClick()">{{startResumeButtonText}}</button>
                    <button ng-disabled="isPauseButtonDisabled" class="pauseButton btn btn-primary btn-sm" ng-click="onPauseButtonClick()">Pause</button>
                    <button ng-disabled="isStopButtonDisabled" class="stopButton btn btn-danger btn-sm" ng-click="onStopButtonClick()">Stop</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12 table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>

              <!-- Table column values -->
              <th ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]" class="green-background text-align-center">
                            {{columnValues[i]}}
              </th>
              <th class="green-background text-align-center"> Total </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
              <!-- First row will contain row values -->
              <td class="green-background text-align-center vertical-align-middle">
                            <strong>{{rowValues[i]}}</strong>
              </td>

              <!-- Rows and column with placeholder -->
              <td ng-repeat="j in [0,1,2,3,4,5,6,7,8,9]">
                <div class="form-group margin-bottom-0" ng-class="{'has-error' : isCorrectArray[i+''+j] != undefined && isCorrectArray[i+''+j] == false}">
                  <input ng-disabled="!isStartButtonDisabled" class="form-control" type="text" ng-blur="valueChanged(i,j)" ng-model="values[i+''+j]" placeholder="{{rowValues[i]}}+{{columnValues[j]}}" size="4" />
                </div>
              </td>

              <!-- Input fields for rows total -->
              <td>
                  <div class="form-group margin-bottom-0" ng-class="{'has-error' : isCorrectArray[i+'10'] != undefined && isCorrectArray[i+'10'] == false}">
                    <input ng-disabled="!isStartButtonDisabled" class="form-control" type="text" ng-blur="rowValueChanged(i)" ng-model="rowsAnswers[i]" size="4" />
                </div>
              </td>
            </tr>

            <!-- Input field for Column Total -->
            <tr>
               <td class="green-background text-align-center vertical-align-middle"> <strong>Total</strong> </td>
               <td ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
                  <div class="form-group margin-bottom-0" ng-class="{'has-error' : isCorrectArray['10'+i] != undefined && isCorrectArray['10'+i] == false}">
                    <input ng-disabled="!isStartButtonDisabled" class="form-control" type="text" ng-blur="columnValueChanged(i)" ng-model="columnAnswers[i]" size="4" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Result dialog -->
    <script type="text/ng-template" id="firstDialogId">
        <div ng-app="myApp" ng-controller="myCtrl">
          <h3 class="mt0 text-center horizontal-line">Result</h3>
          <p> Two numbers addition <code>{{ngDialogData.noOfCorrectAns_TwoNumbers}}/100</code></p>
          <p> Row Addition <code>{{ngDialogData.noOfCorrectAns_Row}}/10</code></p>
          <p> Column Addition <code>{{ngDialogData.noOfCorrectAns_Column}}/10</code></p>
          <p> Total <code>{{ngDialogData.noOfCorrectAns_Total}}/120</code></p>
          <div class="text-center">
              <button type="button" class="btn btn-primary text-center" ng-click="closeDialog()">Close</button>
          </div>
        </div>
     </script>
  </body>
</html>
